.wrapper{
	width:1200px;
	margin:auto;
}

#contenu{
    padding-top: 40px;
    padding-bottom: 40px;
}
header{
	background-color:red;
}

header nav #evitement{
	list-style: none;
}

header nav #evitement li{
	display: inline-block;
}

header nav #evitement a{
	color:transparent;
	text-decoration: none;
}

header nav #evitement a:focus, header nav #evitement a:hover{
	color:black;
}

header nav #menu li{
	display: inline-block;
	padding:15px;
}

header nav #menu a{
	color:black;
	text-decoration: none;
}

section:nth-of-type(2){
    background-color:green;
}
section:nth-of-type(3){
    background-color:yellow;
}