.wrapper{
	width:1200px;
	margin:auto;
}

header{
	background-color:#F5F5F5;
	height:90px;
}

header #evitement{
	list-style: none;
    height:20px;
}

header #evitement li{
	display: inline-block;
}

header #evitement a{
	position: absolute;
    left: -99999px;
	text-decoration: none;
}

header #evitement a:focus, header #evitement a:hover{
	color:black;
    position: static;
}

header #navigation{
    position: relative;
    height:70px;
}

header nav #menu{
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
}

header nav #menu > li{
    width:14%;
    float:left;
    border-right: 1px solid black;
    background-color: #87CEEB;
}

header nav #menu .active{
	color:white;
}

header nav #menu a{
	color:black;
	text-decoration: none;
    display: block;
    width:100%;
}

.nav-menu {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 15;
}

.nav-item {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-item > a {
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0 0 -1px 0;
    border: 1px solid transparent;
}

.nav-item > a:focus,
.nav-item > a.open {
    border: 1px solid #dedede;
}

.nav-item > a.open {
    background-color: #fff;
    border-bottom: none;
    z-index: 1;
}

.sub-nav {
    position: absolute;
    display: none;
    top: 2.6em;
    margin-top: -1px;
    width:14%;
    background-color: #fff;
}

.sub-nav.open {
    display: block;
}

.sub-nav ul {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    width:100%;
}

.sub-nav li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sub-nav-group li{
    width:100%;
    padding:10px;
    background-color: #87CEEB;
}

.sub-nav-group li:hover{
    width:100%;
    padding:10px;
    background-color: #3CC7FF;
}

.sub-nav ul li:nth-child(n+2){
    border-top: 1px solid white;
}

header nav #recherche{
    position: absolute;
    right: 0px;
    bottom: 9px;
}

header nav #recherche input[type="text"]{
	border-radius: 5px;
    border: none;
    height: 25px;
}

footer{
	background-color: #F5F5F5;
}

section{
	padding-bottom: 40px;
	padding-top: 40px;
}

section:nth-of-type(1){
    padding:0px;
}

section:nth-of-type(2){
    background-color:white;
}

section:nth-of-type(3){
    background-color:yellow;
}

section:nth-of-type(2) img{
	width:100%;
}

section:nth-of-type(2) .icone{
    background-color: #87CEEB;
    height:150px;
    width:150px;
    border-radius: 100px;
    position: relative;
    display: inline-block;
    text-align: center;
}

section:nth-of-type(4){
    background-color:orange;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.owl-controls {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.owl-theme .owl-controls .owl-page span,
.owl-theme .owl-controls .owl-buttons div {
	background: #FFF;
	color: #000;
	opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span {
	background: red;
}
table{
	margin-bottom: 0rem !important;
}

