.wrapper{
	width:1200px;
	margin:auto;
}

header{
	background-color:#F5F5F5;
	height:90px;
}

header #evitement{
	list-style: none;
    height:20px;
}

header #evitement li{
	display: inline-block;
}

header #evitement a{
	position: absolute;
    left: -99999px;
	text-decoration: none;
}

header #evitement a:focus, header #evitement a:hover{
	color:black;
    position: static;
}

header #navigation{
    position: relative;
    height:70px;
}

header nav #menu{
    position: absolute;
    bottom: 0;
    left:0;
}

header nav #menu li{
	float:left;
	padding: 10px 40px 10px 0px;
    background-color: #87CEEB;
    border-right: 1px solid black;
}

header nav #menu .active{
	border-bottom:2px solid white;
	padding-bottom: 5px;
}

header nav #menu a{
	color:black;
	text-decoration: none;
}

/* mega menu list */
.nav-menu {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 15;
}

/* a top level navigation item in the mega menu */
.nav-item {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* first descendant link within a top level navigation item */
.nav-item > a {
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0 0 -1px 0;
    border: 1px solid transparent;
}

/* focus/open states of first descendant link within a top level 
   navigation item */
.nav-item > a:focus,
.nav-item > a.open {
    border: 1px solid #dedede;
}

/* open state of first descendant link within a top level 
   navigation item */
.nav-item > a.open {
    background-color: #fff;
    border-bottom: none;
    z-index: 1;
}

/* sub-navigation panel */
.sub-nav {
    position: absolute;
    display: none;
    top: 2.6em;
    margin-top: -1px;
    padding: 0.5em 1em;
    border: 1px solid #dedede;
    background-color: #fff;
}

/* sub-navigation panel open state */
.sub-nav.open {
    display: block;
}

/* list of items within sub-navigation panel */
.sub-nav ul {
    display: inline-block;
    vertical-align: top;
    margin: 0 1em 0 0;
    padding: 0;
}

/* list item within sub-navigation panel */
.sub-nav li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav #recherche{
	float:right;
	padding: 15px;
    margin-top: .75em;
}

header nav #recherche input[type="text"]{
	border-radius: 10px;
    border: none;
    height: 25px;
}

footer{
	background-color: blue;
}

section{
	padding-bottom: 40px;
	padding-top: 40px;
}

section:nth-of-type(1){
    padding:0px;
}

section:nth-of-type(2){
    background-color:green;
}

section:nth-of-type(3){
    background-color:yellow;
}

section:nth-of-type(2) img{
	width:100px;
	border-radius: 100px;
}

section:nth-of-type(4){
    background-color:orange;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.owl-controls {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.owl-theme .owl-controls .owl-page span,
.owl-theme .owl-controls .owl-buttons div {
	background: #FFF;
	color: #000;
	opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span {
	background: red;
}
table{
	margin-bottom: 0rem !important;
}

